<!DOCTYPE html>
<html lang="en" dir="ltr"
  prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# "
  class=" js">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
  {% block title %}
  CARA | COVID Airborne Risk Assessment
  {% endblock title %}
  </title>

  <link rel="stylesheet" media="all" href="/static/css/cern-theme.css">
  <link rel="stylesheet" media="all" href="/static/css/cern-theme2.css">
  <link rel="stylesheet" media="all" href="/static/css/cern-theme3.css">
  <link rel="stylesheet" media="all" href="/static/css/colorbox.css">
  <link rel="stylesheet" media="all" href="/static/css/colors.css">
  <link rel="stylesheet" media="all" href="/static/css/cern-theme4.css">

  {% block extra_headers %}
  {% endblock extra_headers %}

</head>

<body
  class="cern-theme-on path-frontpage page-node-type-landing-page has-glyphicons no-admin-toolbar dev-status-ui cern-toolbar has-header toolbar-fixed">
  <a href="https://againstcovid19.cern/welcome#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
  </a>
  <div id="cern-global-loading-layout" style="display: none;"><span><span></span></span><span></span></div>
  <div id="cern-toolbar" role="group" aria-label="CERN Toolbar" class="user-not-authenticated"
    style="top: 0px; opacity: 1;">
    <h1>
      <a href="https://home.cern/" title="CERN" class="ext" data-extlink="">
        CERN
        <span>Accelerating science</span>
        <svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 80 40">
          <metadata>
            <sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/">
              <slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true">
              </slicesourcebounds>
              <optimizationsettings>
                <targetsettings targetsettingsid="0" fileformat="PNG24Format">
                  <png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false"
                    mattecolor="#FFFFFF"></png24format>
                </targetsettings>
              </optimizationsettings>
            </sfw>
          </metadata>
          <title>(link is external)</title>
          <path
            d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z">
          </path>
          <path
            d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z">
          </path>
        </svg></a>
    </h1>
    <ul>
      {% if user.is_authenticated() %}
      <li class="signin">
        <span>
            Signed in as:
            <a href="https://cern.ch/users-portal" class="account cern-multiple-mobile-signin ext">
            {{ user.username }}
            </a>
        </span>
      </li>
      <li><a href="/auth/logout" class="cern-signout cern-multiple-mobile-signin">Sign out</a></li>
      <script>
        var AuthUserDomain = "{{ user.domain() }}";
      </script>
      {% endif %}
      <li><a href="https://cern.ch/directory" class="cern-directory ext"title="Search CERN resources and browse the directory" data-extlink="">Directory</a></li>
    </ul>
  </div>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
    <header role="banner" style="display: block;">
      <img src="/static/images/hse_triangle_right_1.png" style="float:left; height: 65pt; margin-top: 7pt">
      <div class="header-wrapper" style="background: rgb(47, 52, 66); clear: none;">
        <div class="site-info col-sm-3" style="max-height: 76px;">
          <div class="site-info__text col-lg-9 col-md-10 col-sm-9" style="overflow:hidden;">
            <a href="/" title="Home" rel="home">
              <img src="/static/images/cara_logo_white_text.png" alt="home">
            </a>
          </div>
        </div>

        <div class="site-nav col-sm-9 ">

          <div class="region region-header">
            <nav role="navigation" aria-labelledby="block-cernoverride-main-menu-menu"
              id="block-cernoverride-main-menu">
              <h2 class="sr-only" id="block-cernoverride-main-menu-menu">Main navigation</h2>

              <nav class="navbar navbar-default main-menu">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                      <li>
                        <a href="/" class="{{ "is-active" if "home/" == active_page else "" }}">
                            Home
                        </a>
                      </li>

                      <li class="dropdown">
                        <a href="{{ calculator_prefix }}" class="dropdown-toggle {{ "is-active" if "calculator" in active_page else "" }}">
                            COVID Calculator
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="{{ calculator_prefix }}" class="{{ "is-active" if "calculator" == active_page else "" }}">
                                Calculator
                            </a>
                          </li>
                          <li>
                            <a href="{{ calculator_prefix }}/user-guide" class="{{ "is-active" if "user-guide" in active_page else "" }}">
                                User guide
                            </a>
                          </li>
                        </ul>
                        <li>
                          <a href="/expert-app" target="_blank">
                              Expert App (BETA)
                          </a>
                        </li>
                        <li>
                          <a href="https://hse.cern/covid-19-information">
                              Covid Information
                          </a>
                        </li>
                      </li>
                      <li>
                        <a href="/about" class="{{ "is-active" if "about" == active_page else "" }}">
                            About
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>

            </nav>

          </div>

        </div>

      </div>

    </header>
  </div>

  <main role="main">
    {% block main %}
    {% endblock main %}
  </main>

  <footer role="contentinfo">
    <div class="row cern-footer">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 footer-first-col">
        <div class="region region-footercolumn1">
          <section id="block-disclaimer"
            class="block block-block-content block-block-content112ec55d-2622-43e4-9063-e7433079dfb1 clearfix">

            <h2 class="block-title">Disclaimer</h2>

            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
              <p><span style="font-size:10px;"><em>CERN strives to deploy its know-how and technologies to help solve
                    the challenges arising in the local and global fight against COVID-19. As a particle physics
                    research organisation, CERN is not in a position to advise on medical research, health or health
                    policy issues. Any initiative is conducted on a best effort and as-is basis, without liability or
                    warranty.</em></span></p>
            </div>
          </section>

        </div>

      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 footer-second-col">
        <div class="row">
          <!-- CONTACT US -->
          <div class="col-sm-5 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
            <div class="region region-footercolumn2">
              <nav role="navigation" aria-labelledby="block-cernoverride-footer-menu" id="block-cernoverride-footer">

                <h2 class="visually-hidden" id="block-cernoverride-footer-menu">Footer menu</h2>

                <ul class="menu nav">
                  <li>
                    <a href="mailto:cara-dev@cern.ch" title="Contact the Task Force" class="mailto"
                      data-extlink="">Contact<svg focusable="false" class="mailto" role="img"
                        aria-label="(link sends email)" xmlns="http://www.w3.org/2000/svg" viewBox="0 10 70 20">
                        <metadata>
                          <sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/">
                            <slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true">
                            </slicesourcebounds>
                            <optimizationsettings>
                              <targetsettings targetsettingsid="0" fileformat="PNG24Format">
                                <png24format transparency="true" filtered="false" interlaced="false"
                                  nomattecolor="false" mattecolor="#FFFFFF"></png24format>
                              </targetsettings>
                            </optimizationsettings>
                          </sfw>
                        </metadata>
                        <title>(link sends email)</title>
                        <path
                          d="M56 14H8c-1.1 0-2 0.9-2 2v32c0 1.1 0.9 2 2 2h48c1.1 0 2-0.9 2-2V16C58 14.9 57.1 14 56 14zM50.5 18L32 33.4 13.5 18H50.5zM10 46V20.3l20.7 17.3C31.1 37.8 31.5 38 32 38s0.9-0.2 1.3-0.5L54 20.3V46H10z">
                        </path>
                      </svg></a>
                  </li>
                  <li>
                      <a href="https://gitlab.cern.ch/cara/cara" title="CARA code repository" data-extlink="">
                        Source code
                      </a>
                  </li>
                </ul>

              </nav>

              <p style="font-size:10px;">
                CARA is <a href="https://gitlab.cern.ch/cara/cara/-/blob/master/LICENSE" class="ext">Apache 2.0 licensed</a> open-source
                software developed at CERN.
                You can find the source code at <a href="https://gitlab.cern.ch/cara/cara">https://gitlab.cern.ch/cara/cara</a>,
                where we welcome contributions, feature requests and issue reports.
              </p>

            </div>
          </div>
          <!-- general info -->
          <div class="col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4">
            <div class=" mb-4">

            </div>
          </div>
          <!-- cern and you -->
          <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-0 col-lg-4  col-lg-offset-0">
            <div class=" mb-4">

            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 footer-last-logo">
        <a href="https://hse.cern/" title="HSE home" target="_blank">
          <img src="/static/images/HSE_logo_white.png" alt="HSE home" style="width:450px; margin-left:-300px;">
        </a>
      </div>
    </div>

    <div class="copy-wrapper light">
      <a href="https://copyright.web.cern.ch/" class="ext" data-extlink="">
        Copyright
        <svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 80 40">
          <metadata>
            <sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/">
              <slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true">
              </slicesourcebounds>
              <optimizationsettings>
                <targetsettings targetsettingsid="0" fileformat="PNG24Format">
                  <png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false"
                    mattecolor="#FFFFFF"></png24format>
                </targetsettings>
              </optimizationsettings>
            </sfw>
          </metadata>
          <title>(link is external)</title>
          <path
            d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z">
          </path>
          <path
            d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z">
          </path>
        </svg></a>
      &nbsp;© 2020 - 2021 CERN</div>
  </footer>

  <script src="/static/js/js_packaged_for_theme.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="/static/js/jquery.colorbox-min.js"></script>
  <script src="/static/js/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>
  <script src="/static/js/usage-tracking.js"></script>
  {% block body_scripts %}
  {% endblock body_scripts %}

  <div id="cboxOverlay" style="display: none;"></div>
  <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
      <div>
        <div id="cboxTopLeft" style="float: left;"></div>
        <div id="cboxTopCenter" style="float: left;"></div>
        <div id="cboxTopRight" style="float: left;"></div>
      </div>
      <div style="clear: left;">
        <div id="cboxMiddleLeft" style="float: left;"></div>
        <div id="cboxContent" style="float: left;">
          <div id="cboxTitle" style="float: left;"></div>
          <div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button
            type="button" id="cboxNext"></button><button type="button" id="cboxSlideshow"></button>
          <div id="cboxLoadingOverlay" style="float: left;"></div>
          <div id="cboxLoadingGraphic" style="float: left;"></div>
        </div>
        <div id="cboxMiddleRight" style="float: left;"></div>
      </div>
      <div style="clear: left;">
        <div id="cboxBottomLeft" style="float: left;"></div>
        <div id="cboxBottomCenter" style="float: left;"></div>
        <div id="cboxBottomRight" style="float: left;"></div>
      </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
  </div>
</body>
</html>
